<div class="arrivals">
    <h1>Каталог</h1>
    <div class="container">
        <div v-for="booki in books" class="books">
            <p><span> Название новинки:</span> {{ booki.title }}&nbsp;</p>
            <p><span> Автор:</span> {{ booki.author }}&nbsp;</p>
            <p><span>Описание кинги:</span> {{ booki.description }}&nbsp;</p>
            <p><span>Категория:</span> {{ booki.category }}</p>
            <div>
                <img :src="booki.image" alt="photo" :width="booki.size"/>
            </div>
            <p><span> Цена: {{ booki.price }} {{ booki.currency }} </span>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="submit" class="buy-btn">
                    В корзину
                </button>
            </p>
        </div>
    </div>
</div>