.main-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: #D2B48C;
    margin-top: 100px;
    font-family: 'Shadows Into Light Two', cursive;
    position: relative;
}

.books, .d5{
    position: relative;
}

.d5 {
    margin-top: 50px;
    align-items: center;
    width: 400px;
    border-radius: 15px;
    height: 390px;
}
.d5 input, .d5 button {
    outline: none;
    background: transparent;
}
.d5 input {
    width: 100%;
    text-align: center;
    height: 42px;
    padding-left: 15px;
    border: 3px solid #D2B48C;
    border-radius: 15px;
    font-size: 14px;
    color: white;
}
.d5 button {
    position: absolute;
    top: 13px;
    right: 13px;
    cursor: pointer;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-bottom-width: 7px;
    border-top-width: 7px;
    border-left: 15px solid #D2B48C;
}
.d5 button:before {
    font-family: FontAwesome, serif;
    font-size: 16px;
    color: #F9F0DA;
}
.d5 input:focus {
    border-color: #311c24
}